<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/5664feb66b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Inventory Managment System for Retailers</title>
    <link href="./dashboardStyles.css" rel ="stylesheet">

</head>

<body class="bg_gray color_default">
    <div class="container">
        <div class="m-5">
            <div class="bg_white ims_card p-3 mt-3 mb-3" style="text-align: center;">
                <h3>Inventory Management System</h3>
            </div>
            <div class="ims_card bg_white card-body" style="max-width: 250px;margin: auto;text-align: center;">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn ims_btn_1_home">Sign In</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn ims_btn_2_home">Sign Up</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

    <!-- jquery bnecessary for bootstrap's javascript plugins -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

</body>

</html>