<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/5664feb66b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    
    <title>Inventory Managment System for Retailers</title>
</head>
<body>
    <div class="container">
        <div class="mt-5">
            <div class="col-4 m-auto">
                <div class="card card-body text-center">
                    <h3>Reset Password</h3>
                    <form id="loginForm">
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password2" class="form-label">Re-enter your new password</label>
                            <input type="password" class="form-control" id="password2" name="password2"
                                placeholder="Re-enter your new password" value="">
                        </div>
                        <div class="mb-3 text-start">
                            <button type="submit" class="btn btn-danger" style="width: 100%;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <!-- jquery bnecessary for bootstrap's javascript plugins -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <script>

        document.getElementById("loginForm").addEventListener("submit", function (e) {
            submitHandler(e)
        })

        function submitHandler(e) {

            e.preventDefault()

            let password = document.getElementById("password").value
            let reEnterPassword = document.getElementById("password2").value

            //form-preProcessing

            if (password !== reEnterPassword) {
                alert("Passwords don't match")
                return
            } else if (password.length <= 5) {
                alert("Password should consists a minimum of 6 characters")
                return
            }

            console.log(password)
            console.log(reEnterPassword)

            //write backend logic here


        }
    </script>

</body>
</html>