<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/5664feb66b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='/dashboardStyles.css') }}" rel ="stylesheet">
    
    <title>Inventory Managment System for Retailers</title>
</head>
<body class="bg_gray color_default">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light rounded sticky-top mb-3 bg_blue ms-5 me-5">
            <div class="container-fluid" style="display:block">
                <a class="navbar-brand" href="/" style="color:white;font-size:XX-Large"><img src="./ibm - ims logo2.jpg" height="30px" width="30px" class='pb-1' alt="Company Logo"/> Affins Inventory Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link custom-nav" href="/signin" style="min-width: 85px;">Sign In</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link custom-nav" href="/signup" style="min-width: 85px;">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mt-5 mb-5">
            <div class="col-4 m-auto">
                <div class="card card-body text-center">
                    <h3>Reset Password</h3>
                    <form action="http://127.0.0.1:5000/forgot_password" method="post">
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email-ID</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your new email-id">
                        </div>
                        <div class="mb-3 text-start">
                            <button type="submit" class="btn ims_btn_1" style="width: 100%;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class='pb-3 pt-3 text-center'>
            Copyright &copy; Affins
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <!-- jquery bnecessary for bootstrap's javascript plugins -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <script>

        document.getElementById("loginForm").addEventListener("submit", function (e) {
            submitHandler(e)
        })

        function submitHandler(e) {

            e.preventDefault()

            let email = document.getElementById("email").value

            //form-preProcessing

            if (!email) {
                alert("Enter your email-id")
                return
            }

            console.log(email)

            //write backend logic here


        }
    </script>

</body>
</html>